:root {
    --dvSuite_background: #000000;
    --dvSuite_background1: #111111;
    --dvSuite_foreground: #FFFFFF;
    --dvSuite_foreground1: #00ba6c;
    --dvSuite_separator: #444444;
    --dvSuite_font-family: "Roboto Mono", sans-serif;
    --dvSuite_font-size: 12px;
    --dvSuite_font-style: normal;
    --dvSuite_font-weight: 100;
    --dvSuite_letter-spacing: 1px;
}

body {
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    letter-spacing: var(--dvSuite_letter-spacing);
}

h1 {
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    letter-spacing: var(--dvSuite_letter-spacing);
}

h2 {
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    letter-spacing: var(--dvSuite_letter-spacing);
}

h3 {
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    letter-spacing: var(--dvSuite_letter-spacing);
}

h4 {
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    letter-spacing: var(--dvSuite_letter-spacing);
}

input {
    background: var(--dvSuite_background);
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    font-size: var(--dvSuite_font-size);
    letter-spacing: var(--dvSuite_letter-spacing);
    border: 0px;
}

textarea {
    background: var(--dvSuite_background);
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    font-size: var(--dvSuite_font-size);
    letter-spacing: var(--dvSuite_letter-spacing);
    border: 0px;
    resize: none;
    text-shadow: none;
}

textarea:focus {
    outline: none;
}

select {
    background: var(--dvSuite_background);
    color: var(--dvSuite_foreground);
    font-family: var(--dvSuite_font-family);
    font-size: var(--dvSuite_font-size);
    letter-spacing: var(--dvSuite_letter-spacing);
}